<div id="carousel-opacity"></div>
<div id="carousel-background" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" id="slide-1"></div>
        <div class="carousel-item" id="slide-2"></div>
        <div class="carousel-item" id="slide-3"></div>
    </div>
</div>