<div class="card shadow" id="search-card">
    <div class="card-body text-center">
        <h2 class="card-title">Encontre o carro perfeito para você!</h2>
        <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control" placeholder="Busque seu carro aqui..." aria-label="Busque seu carro aqui..."
                aria-describedby="button-search">
            <button class="btn btn-outline-danger" type="button" id="button-search">Buscar</button>
        </div>
    </div>
</div>